<%= form_for([@place, @place.reservations.new]) do |f| %>
	
 	<%= f.text_field :start_time %>
		<span class="glyphicon glyphicon-time"></span>
  <br>
 
	<%= f.text_field :end_time %>
		<span class="glyphicon glyphicon-time"></span>
	<%= f.hidden_field :place_id, value: @place.id %>

	<br>

	<%= f.submit "Book now", class: "btn btn-primary"%>

    
	
<% end %>

<script>

	$(function(){

	  $('#reservation_start_time').datetimepicker({
	  	format: "dd-MM-yyyy - hh:ii",
      autoclose: true,
      todayBtn: true,
      startDate: "2013-02-14 10:00",
      minuteStep: 10
	  });

	  $('#reservation_end_time').datetimepicker({
	  	dateFormat: 'dd-mm-yy'
	  });

	}); <!--  -->

</script>