<%= form_for([@place, @place.reservations.new]) do |r| %>
	
	<div class="row date">
		<div class="col-md-6">
			<span class="glyphicon glyphicon-calendar"></span>
			<label>In</label>
			<%= r.text_field :start_time %>
		</div>
	 	
	 	<div class="col-md-6">
		 	<span class="glyphicon glyphicon-calendar"></span>
		 	<label>Out</label>
			<%= r.text_field :end_time %>	
		</div>

	</div>

	<div class="row bag">
		<div class="col-md-6">
			<label>Big</label>
			<%= r.select "big_bags_for_thistime", options_for_select( 1..@place.big_bag )%>
		</div>
	 	
	 	<div class="col-md-6">
	 	<label>Small</label>
			<%= r.select "small_bags_for_thistime", options_for_select( 1..@place.small_bag, class: "select-controll")%>	
		</div>
	</div>

	<div class="total">
		<label>Total cost</label>
	</div>



	<%= r.hidden_field :place_id, value: @place.id %>

	<div class="preview" style="display: none">
		<h4><span id="message"></span></h4>

		<table class="reservation-table">
			<tbody>
				<tr>
					<td>Days</td>
					<td><span id="reservation_days"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td><span id="reservation_sum"></span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<%= r.submit "Book now", class: "btn btn-primary"%>

<% end %>


<script>

	

	$(function(){


	  $('#reservation_start_time').datepicker({
	  	dateFormat: 'dd-mm-yy'
	  });

	  $('#reservation_end_time').datepicker({
	  	dateFormat: 'dd-mm-yy'
	  });

	});

</script>