<%= form_for([@place, @place.reservations.new]) do |r| %>
	
	<div class="row date">
		<div class="col-md-6">
		<span class="glyphicon glyphicon-calendar"></span>
			<label>In</label>
			<%= r.text_field :start_time %>
			
		</div>
	 	
	 	<div class="col-md-6">
	 	<span class="glyphicon glyphicon-calendar"></span>
	 	<label>Out</label>
			<%= r.text_field :end_time %>	
		</div>

	</div>

	<div class="row date">
		<div class="col-md-6">
			<label>Big</label>
			<%= select_tag "qty", options_for_select( 1..@place.big_bag )%>
		</div>
	 	
	 	<div class="col-md-6">
	 	<label>Small</label>
			<%= select_tag "qty", options_for_select( 1..@place.small_bag )%>	
		</div>

	</div>


	<%= r.hidden_field :place_id, value: @place.id %>

	<%= r.submit "Book now", class: "btn btn-primary"%>

<% end %>


<script>

	$(function(){

	  $('#reservation_start_time').datepicker({
	  	dateFormat: 'dd-mm-yy'
	  });

	  $('#reservation_end_time').datepicker({
	  	dateFormat: 'dd-mm-yy'
	  });

	}); <!--  -->

</script>