
	<%= form_for reservation, :url => place_reservation_path(@place.id, reservation) do |r| %>
		
		<div class="row date" style="margin-left: 90px; margin-left: -10px;">
			<div class="col-md-6">
				<span class="fa fa-check-square"></span>
					<%= r.select :status,[["待取","待取"],["完成","完成"]], :class => "form-control"%> 
				
				<!--<span class="fa fa-check-square"></span>
					<%= r.time_select :start_time%>-->
					<%= r.hidden_field :place_id, value: @place.id %>
			</div>

			<div class="col-md-6">
				<div style="margin-top: 5px; margin-left: 75px;">
					<div><%= r.submit "更新訂單"%></div>
				</div>
			</div>
		</div>	
	<% end %>
