		
		<div class="col-md-2 form">
			<%#= image_tag("logo83.svg") %>

			<div class="place_photo">
				<div class="place_photo_2 text-center" style = "padding-top: 150px; padding-bottom: 15px;">
					<%= image_tag @place.photos[0].image.url(:medium)%>
				</div>
			</div>

			<div class="shop_name">
				<%= @place.shop_name %>
				<br>
					<div id='stars_<%= @place.id %>'></div>
					<%= image_tag("star-on.png") %>
					<%= image_tag("star-on.png") %>
					<%= image_tag("star-on.png") %>
					<%= image_tag("star-half.png") %>


				<br>

				<div class="clock" style="margin-top: 7px;">
					<i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
					早上八點-晚上九點
				</div>

				<%= image_tag "location.png", :class => "location" %>
				<div class="desktop">
					<%= @place.address %>	
				</div>

				<br>
					<%= link_to "修改店家資訊" %>
			</div>	
		</div>

		<div class="col-md-10 show-right">
			<div id="header">
				<div class="logo">
					<div class="desktop">
						<%= image_tag "desktop.png" %>
					</div>
				</div>			
			</div>

			<div class="section col-md-12">
				<!-- <div class="row "> -->
					<!-- <div class="container"> -->
					<!-- <div class="col-md-12"> -->
						<div class="col-md-1">
							<div class="search">
							
								<i class="fa fa-search fa-lg" aria-hidden="true" ></i>
								<span style="color: gray">Search</span> 
							</div>
						</div>		
						<div class="col-md-5">
							<!--<li style="text-align: center; list-style: none; padding-top: 3px;">
  							<%= image_tag("icons/notification_bell") %>
  							<span  id="notification-counter"><%#= counter %></span>
							</li> -->
						</div>

						<%= render "notifications/notification_center", notifications: @notifications %>
					<!-- </div>		 -->
					<!-- </div> -->
						
					<!-- </div> -->
				<!-- </div> -->
			</div>

			<div id="body">
				
					<div class="col-md-4">
						<%= image_tag "待寄放.png" %>
							<div class="section" style="padding-top:20px; font-size: 25px;">
								待寄放	
							<div class="order_status">
									
					</div>
			</div>

					<%#= render :partial => "notifications/notification_center" %>
					
					

						<div class="order_list">

									
									<%#= render "notification_center", notifications: @notifications %>
							
									<div class="a">
										<% @wait_to_put.each do |f|%>
											<%= f.order_id %>
											<%= link_to "訂單資訊", 
									 "#my-put-modal-#{f.id}", :class => "btn btn-info", "data-toggle" => "modal" %>

											<br>
										<% end %>

								 	</div>
						</div>
							
					</div>

					<div class="col-md-4">
						<%= image_tag "待取件.png" %>
							<div class="section" style="padding-top:20px; font-size: 25px;">
								待取件
								<div class="order_status">
									
								</div>
							</div>		
						<div class="order_list">
							<div class="a">
								<% @wait_to_take.each do |f|%>
									<%= f.order_id %>
									<%= link_to "訂單明細", 
									 "#my-take-modal-#{f.id}", :class => "btn btn-info", "data-toggle" => "modal" %>
									<%#= link_to "訂單資訊", place_reservation_path(@place, f)%>
									<br>
								<% end %>
						 	</div>
						 
							
						</div>
					</div>

					<div class="col-md-4">
						<%= image_tag "已完成.png" %>
							<div class="section" style="padding-top:20px; font-size: 25px;">
								已完成
								<div class="order_status">
									
								</div>
							</div>		
						<div class="order_list">
							<div class="a">
								<% @compeleted.each do |f|%>
									<%= f.order_id %>
									
									<%= link_to "訂單明細", 
									 "#my-compeleted-modal-#{f.id}", :class => "btn btn-info", "data-toggle" => "modal" %>
									 <br>

								<% end %>
						 	</div>
						</div>
					</div>
			</div>
			
		</div>
		<%= audio_tag("Family-Mart.mp3", autoplay: false, controls: true, style: "width: 20px; float: right; margin-right: 10px;") %>
		<%= audio_tag("countdown.mp3", autoplay: false, controls: true, style: "width: 20px; float: right; margin-right: 10px;") %>
		

		<% @wait_to_put.each do |f|%>
			<div class="modal fade" id="my-put-modal-<%=f.id%>" tabindex="-1" 
					 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
	    		<div class="modal-content">

				  		<div class="modal-header">
				    		<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
					    	<h3 id="myModalLabel">
					    		
											<%= f.order_id %>
											大件: <%= f.big_bags_for_thistime %>
											小件: <%= f.small_bags_for_thistime %>
											狀態: <%= f.status %>

											<% @wait_to_put.each do |r| %>

												<%= render :partial => "show", locals: { :reservation => r}%>
												
											<% end %>
											
					    	</h3>
				  		</div>
				  
				  		<div class="modal-footer">
				    		<button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
				  		</div>
				  </div>
	    	</div>
			</div>
		<% end %>
		
		<% @wait_to_take.each do |f|%>
			<div class="modal fade" id="my-take-modal-<%=f.id%>" tabindex="-1" 
					 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
	    		<div class="modal-content">

				  		<div class="modal-header">
				    		<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
					    	<h3 id="myModalLabel">
					    		
									<div class="row">
										<div class="container" style = "padding-bottom: 7px; color: #fc5f43;">訂單序號: <%= f.order_id %></div>	
									</div>

									<div class="row">
										<div class="container">
											<div class="col-sm-2" style="padding: 15px; height: 70px;background-color: #2277DB; color: white; width: 163px; border-right-style:solid"><%= f.user.nickname %>
												<div class="text-right" style ="font-size: 14px; padding-top: 6px;">使用者名稱</div></div>

											<div class="col-sm-2" style="padding: 15px; height: 70px; background-color: #2277DB; color: white; width: 160px; border-right-style:solid"> <%= f.phone %>
											<div class="text-right" style ="font-size: 14px; padding-top: 6px;">聯絡方式</div>
											
											</div>

											<div class="col-sm-2" style="padding: 15px; height: 70px; background-color: #2277DB; color: white; width: 160px;">
												<div class="row">
													<div class="container">
														<div class="col-sm-1" style = "padding: 0px;""><%= f.big_bags_for_thistime %>大</div>
														<div class="col-sm-1" style = "padding: 0px;""><%= f.small_bags_for_thistime %>小	</div>
													</div>
													<div class="text-right" style ="font-size: 14px; padding-top: 6px; padding-right: 6px;">寄物件數</div>
														
												</div>
										</div>	
									</div>

									<div class="div">
										<div class="row">
											<div class="container">
												<div class="col-sm-2 text-center" style="height: 50px; line-height: 50px;">
													寄物時間:
												</div>
												<div class="col-sm-4 text-center" style="height: 50px; line-height: 50px;">
													<%= f.start_time.to_s.first(19)%>
											</div>
										</div>	
									</div>

									<div class="div">
										<div class="row">
											<div class="container">
												<div class="col-sm-2 text-center" style="height: 50px; line-height: 50px;">
													取物時間:
												</div>
												<div class="col-sm-4 text-center" style="height: 50px; line-height: 50px;">
													<%= f.end_time.to_s.first(19)%>
											</div>
										</div>	
									</div>

									<div class="div">
										
											<div class="container">

											<div class="row">
												<div class="col-sm-2 text-center" style="height: 50px; line-height: 50px; width:190px;">
													預估金額:
												</div>
												<div class="col-sm-4 text-center" style="height: 50px; line-height: 50px;">
													<%= f.price %>
												</div>
											</div>	
									</div>

									<div class="div">
										<div class="row">
											<div class="container">
												<div class="col-sm-2 no text-center" style="height: 50px; line-height: 50px;  background-color: #fc5f43;">
													目前狀態:
												</div>
												<div class="col-sm-4 text-center" style="height: 50px; line-height: 50px;">
													<%= f.status %>

													<% @wait_to_take.each do |r| %>

														<%= render :partial => "show", locals: { :reservation => r}%>
												
													<% end %>
											</div>
										</div>	
									</div>
														
					    	</h3>
				  		</div>
				  
				  		<div class="modal-footer">
				    		<button aria-hidden="true" class="btn" data-dismiss="modal"></button>
				  		</div>
				  </div>
	    	</div>
			</div>
		<% end %>

		<% @compeleted.each do |f|%>
			<div class="modal fade" id="my-compeleted-modal-<%=f.id%>" tabindex="-1" 
					 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
	    		<div class="modal-content">

				  		<div class="modal-header">
				    		<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
					    	<h3 id="myModalLabel">
					    		
									<div class="row">
										<div class="container" style = "padding-bottom: 7px; color: #fc5f43;">訂單序號: <%= f.order_id %></div>	
									</div>

									<div class="row">
										<div class="container">
											<div class="col-sm-2" style="padding: 15px; height: 70px;background-color: #2277DB; color: white; width: 163px; border-right-style:solid"><%= f.user.nickname %>
												<div class="text-right" style ="font-size: 14px; padding-top: 6px;">使用者名稱</div></div>

											<div class="col-sm-2" style="padding: 15px; height: 70px; background-color: #2277DB; color: white; width: 160px; border-right-style:solid"> <%= f.phone %>
											<div class="text-right" style ="font-size: 14px; padding-top: 6px;">聯絡方式</div>
											
											</div>

											<div class="col-sm-2" style="padding: 15px; height: 70px; background-color: #2277DB; color: white; width: 160px;">
												<div class="row">
													<div class="container">
														<div class="col-sm-1" style = "padding: 0px;""><%= f.big_bags_for_thistime %>大</div>
														<div class="col-sm-1" style = "padding: 0px;""><%= f.small_bags_for_thistime %>小	</div>
													</div>
													<div class="text-right" style ="font-size: 14px; padding-top: 6px; padding-right: 6px;">寄物件數</div>
														
												</div>
										</div>	
									</div>

									<div class="div">
										<div class="row">
											<div class="container">
												<div class="col-sm-2 text-center" style="height: 50px; line-height: 50px;">
													寄物時間:
												</div>
												<div class="col-sm-4 text-center" style="height: 50px; line-height: 50px;">
													<%= f.start_time.to_s.first(19)%>
											</div>
										</div>	
									</div>

									<div class="div">
										<div class="row">
											<div class="container">
												<div class="col-sm-2 text-center" style="height: 50px; line-height: 50px;">
													取物時間:
												</div>
												<div class="col-sm-4 text-center" style="height: 50px; line-height: 50px;">
													<%= f.end_time.to_s.first(19)%>
											</div>
										</div>	
									</div>

									<div class="div">
											<div class="container">
											</div>
											<div class="row">
												<div class="col-sm-2 text-center" style="height: 50px; line-height: 50px; width:190px; margin-left: 15px;">
													預估金額:
												</div>
												<div class="col-sm-4 text-center" style="height: 50px; line-height: 50px;">
													<%= f.price %>
												</div>
											</div>	
									</div>

									<div class="div">
										<div class="row">
											<div class="container">
												<div class="col-sm-2 no text-center" style="height: 50px; line-height: 50px;  background-color: #fc5f43;">
													目前狀態:
												</div>
												<div class="col-sm-4 text-center" style="height: 50px; line-height: 50px;">
													<%= f.status %>
											</div>
										</div>	
									</div>
									<div class="row">
										<div class="container">
											<div class="col-md-4">
												<textarea rows="5" style="width: 140%;">備註</textarea>
											</div>											
										</div>
									</div>					
					    	</h3>
				  		</div>
				  
				  		<div class="modal-footer">
				    		<button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
				  		</div>
				  </div>
	    	</div>
			</div>
		<% end %>

<script>
	$('#stars_<%= @place.id%>').raty({
		path: '/assets',
		readOnly: true,
		score: <%= @place.average_rating %>
	});
</script>