<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">

			<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

		</ul>
	</div>


	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Your Places
				<!--Place.find('10').reservations.first.reservation_status.bag_status-->
			</div>
			<div class="panel-body">
				<% @places.each do |place| %>
					<div class="row">
						<div class="col-md-2 bgc" style="height:100px; background-color: white;">				
								<%= image_tag place.photos[0].image.url(:thumb) if place.photos.length >0 %>
						</div>
						<div class="col-md-6">
							<h4><%= place.shop_name %></h4>
							<p><% place.reservations.each do |r|%>
								| <%= r.order_id if r.order_id != '11111111' %>
								<%= link_to r.status, place_reservation_path(place, r) if r.status != '完成'%>
								<%end %>
							</p>
						</div>
						<div class="col-md-4 right">
							
							<%= link_to "Show", place_path(place), class: "btn btn-primary"%>
							<%= link_to "Update", edit_place_path(place), class: "btn btn-primary"%>
							<%= link_to "delete", place_path(place), :method => :delete, class: "btn btn-primary"%>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
