<h1>Places#show</h1>
<p>Find me in app/views/places/show.html.erb</p>

<div class="panel panel-defaut">
	<div class="panel-body">
		<!--IMG-->
		<div class="row">
			<div class="col-md-12">
				<% if @photos[0] %>
				<%= image_tag @photos[0].image.url(), class: "img-responsive"%>
				<% end %>
			</div>
		</div>

		<br>

		<!--<% @shop_reservations.each do |r| %>
			<%= r.reservation_status.bag_status %>
		<% end %>-->
		

		<!--Main-->
		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-3 text-center">
						屋主
						<%= @place.user.nickname %>
						<br>
						<%= image_tag current_user.gravatar_url %>
					</div>
					<div class="col-md-9">
						<h4><%= @place.shop_name %></h4>
						<h5><%= @place.address %></h5> 

						<p>Coordinates: <%= @place.latitude %> <%= @place.longitude %></p>

						<div class="row text-center row-space-1">
							<div class="col-md-3">
								<i class="fa fa-shopping-bag fa-2x"></i>
							</div>
							
							<div class="col-md-3">
								<i class="fa fa-suitcase fa-2x"></i>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-md-3">
								Big: <%= @place.big_bag %>
							</div>
							
							<div class="col-md-3">
								Small: <%= @place.small_bag %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-5">
				<!--Reservation-->
				<%= render 'reservations/form'%>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>About this Place</h2>
				<%= @place.summary %>
			</div>
		</div>

		<!--Google Map-->

		<div class="row">
			<div class="col-md-12">
				<div class="map"></div> MAP
				<style>
					#map{
						width: 500px;
						height: 400px;
					}
				</style>

    		<div id="map"></div>

    		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa7in_wDphh1PEei-A6Oqi1P5R261X5GE&callback=initMap"
		    async defer></script>

		    <script>
		      function initMap() {
		        // Create a map object and specify the DOM element for display.
		        var map = new google.maps.Map(document.getElementById('map'), {
		          center: {lat: <%= @place.latitude %>, lng: <%= @place.longitude%>},
		          scrollwheel: false,
		          zoom: 14
		        });  

		        var marker = new google.maps.Marker({
		        	position: new google.maps.LatLng(<%= @place.latitude %>, <%= @place.longitude %>),
		        	title: "我家!" 
		        }); 

		        marker.setMap(map);    
		      }

		    </script>

			</div>
		</div>
	</div>
</div>
